<header>
  <div class="container header">
    <h1><a href="../src/index.html">News</a></h1>
    <nav class="navigation">
      <ul class="navigation-list">
        <li class="navigation_items"><a href="./index.html">Home</a></li>
        <li class="navigation_items"><a href="./favorite.html">Favorite</a></li>
        <li class="navigation_items"><a href="./read.html">Read</a></li>
      </ul>
    </nav>
    <div class="search-thumb">
      <form class="search-form">
        <svg class="js-icon-open-field" width="20" height="20">
          <use href="./images/header.svg#search"></use>
        </svg>
        <input type="text" id="search-area" placeholder="Search" />
      </form>
    </div>

    <form class="switch">
      <label>
        <input type="radio" name="theme" value="light" />
        light
      </label>
      <label>
        <input type="radio" name="theme" value="dark" />
        dark
      </label>
    </form>
    <div class="menu-thumb"><div class="menu-open"></div></div>
  </div>
</header>
