<header>
  <div class="container">
    <h1>News</h1>
    <nav class="navigation">
      <ul class="navigation-list">
        <li class="navigation_items">Home</li>
        <li class="navigation_items">Favorite</li>
        <li class="navigation_items">Read</li>
      </ul>
    </nav>
    <form>
      <input type="text" id="name" placeholder="Search" />
    </form>
    <form>
      <label>
        <input type="radio" name="theme" value="light" />
        light
      </label>
      <label>
        <input type="radio" name="theme" value="dark" />
        dark
      </label>
    </form>
  </div>
</header>
