<section>
  <div class="container search-bar">
    <ul class="search-bar_list-filter">
      <li class="search-bar_items-filter">
        <button class="button">Admin</button>
      </li>
      <li class="search-bar_items-filter">
        <button class="button">Arts</button>
      </li>
      <li class="search-bar_items-filter">
        <button class="button">Automobiles</button>
      </li>
      <li class="search-bar_items-filter">
        <button class="button">Books</button>
      </li>
      <li class="search-bar_items-filter">
        <button class="button">Briefing</button>
      </li>
      <li class="search-bar_items-filter">
        <button class="button">Business</button>
      </li>
      <li class="search-bar_items-filter">
        <div class="dropdown">
          <button class="dropbtn button">Dropdown</button>
          <ul>
            <li><button>Climate</button></li>
            <li><button>Corrections</button></li>
            <li><button>Crosswords & Games</button></li>
            <li><button>Education</button></li>
            <li><button>En Español</button></li>
            <li><button>Fashion</button></li>
            <li><button>Food</button></li>
            <li><button>Guides</button></li>
            <li><button>Health</button></li>
            <li><button>Home & Garden</button></li>
            <li><button>Home Page</button></li>
            <li><button>Job Market</button></li>
            <li><button>Lens</button></li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="date">
      <h3>Search date news</h3>
      <input
        type="text"
        id="datetime-picker"
        class="flatpickr-input"
        readonly="readonly"
      />
    </div>
    <ul class="search-bar_list-news">
      <li class="search-bar_list-news_news"></li>
      <li class="search-bar_list-news_news weather" style="order: 3"></li>
    </ul>
    <ul class="paginations">
      <li>1</li>
    </ul>
    <include src="./partials/not-found.html"></include>
  </div>
</section>
